<div class="portfolio-container">
    <div class="nav-title">
        Contact
    </div>
    <div class="nav-description">
        Have Questions or Ideas? Let’s discuss and make them Real.
    </div>
    <div class="portfolio-box" id="contact">
        <div class="left-content" id="left-content">
            <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="addContactDetails($event)">
                <!-- Form fields -->
                <p class="contact-title">Send me a Message</p>
                <div class="first-row">
                    <div class="contact-form-name contact-cell">
                        <input type="text" placeholder="Your name" formControlName="name" name="name" class="contact-form-col">
                        <div *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)"
                            class="error-message">
                            <div *ngIf="contactForm.get('name')?.errors?.required">Name is required.</div>
                        </div>
                    </div>

                    <div class="contact-form-phone contact-cell">
                        <input type="text" placeholder="Your phone" formControlName="contactNo" name="contactNo"
                            class="contact-form-col">
                        <div *ngIf="contactForm.get('contactNo')?.invalid && (contactForm.get('contactNo')?.dirty || contactForm.get('contactNo')?.touched)"
                            class="error-message">
                            <div *ngIf="contactForm.get('contactNo')?.errors?.required">Contact number is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-form-email contact-cell">
                    <input type="email" placeholder="Your email" formControlName="email" name="email" class="contact-form-col">
                    <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)"
                        class="error-message">
                        <div *ngIf="contactForm.get('email')?.errors?.required">Email is required.</div>
                        <div *ngIf="contactForm.get('email')?.errors?.email">Invalid email format.</div>
                    </div>
                </div>

                <div class="contact-form-message contact-cell">
                    <input type="text" placeholder="Message" formControlName="message" name="message" class="contact-form-col">
                    <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)"
                        class="error-message">
                        <div *ngIf="contactForm.get('message')?.errors?.required">Message is required.</div>
                    </div>
                </div>

                <!-- Submit button -->
                <button class="contact-form-btn" type="submit" [disabled]="contactForm.invalid">Send</button>
                <div *ngIf="showSuccessMessage" class="success-message">
                    Your message has been successfully submitted! Thank You
                </div>
            </form>
        </div>
        <div class="right-content" id="right-content">
            <div class="contact-information" id="contact-information">
                <p class="contact-information-title">
                    Contact Information
                </p>
                <hr class="contact-information-title-underline" id="contact-information-title-underline">
                <div class="contact-information-item">
                    <img class="contact-information-icon" src="https://img.icons8.com/ios/50/000000/phone.png" />
                    <p class="contact-information-item-text">+94 75 5464 760</p>
                </div>
                <div class="contact-information-item">
                    <img class="contact-information-icon" src="https://img.icons8.com/ios/50/000000/new-post.png" />
                    <p class="contact-information-item-text">kkukesan29@gmail.com</p>
                </div>
                <div class="contact-information-item">
                    <img class="contact-information-icon" src="https://img.icons8.com/ios/50/000000/address.png" />
                    <p class="contact-information-item-text">Jaffna, Sri Lanka</p>
                </div>
            </div>
        </div>
    </div>
</div>